

.footer-wrapper {
   background: rgba(39, 38, 38, 0.7);
  color: var(--footer-text);
  padding: 4rem 1rem;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer {
  max-width: 960px;
  margin: 0 auto;
}

.footer-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 2rem;
}

.footer-link a {
  color: var(--hero-title-color);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link a:hover,
.footer-link a:focus {
  color: #0070f3;;
}

.footer-divider {
  border: 2px solid var(--hero-title-color);
  margin: 2rem 0;
  opacity: 0.3;
  color: white;
}

.footer-description {
  max-width: 700px;
  margin: 0 auto 2rem;
  font-size: 0.95rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer-socials a {
  color: var(--hero-title-color);
  font-size: 1.4rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-socials a:hover,
.footer-socials a:focus {
  color: var(--hero-name-color);
  transform: scale(1.1);
  color: #0070f3;
}

.footer-bottom {
  padding: 1rem;
  font-size: 0.9rem;
}

