.projects-section {
  padding: 4rem 2rem;
  background: #f9f9f9;
  text-align: center;
}

body.dark-mode .projects-section {
  background-color: #1e1e1e;
}

.projects-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.gradient-text {
  background: linear-gradient(to right, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.tab-button {
  padding: 0.6rem 1.4rem;
  border: none;
  font-size: 1rem;
  background-color: #e5e5e5;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab-button.active {
  background-color: #00dfd8;
  color: #fff;
  font-weight: bold;
  transform: scale(1.05);
}

.tab-button:hover {
  background-color: #00b8ba;
  color: white;
}

.projects-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 1rem;
}



/* Horizontal Card Layout */

.project-card-horizontal {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
   gap: 3vw;
  background-color: #f3f4f6;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(40px);
}

.project-card-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 3vw;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f3f4f6;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(40px);
}
body.dark-mode .project-card-horizontal {
  background-color: #2a2a2a;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.05);
}

.project-card-horizontal.visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}
.project-card-reverse.visible {
  opacity: 1;
  transform: translateY(0);
}
.project-card-horizontal.hidden {
  opacity: 0;
  transform: translateY(40px);
}
.project-card-reverse.hidden {
  opacity: 0;
  transform: translateY(40px);
}

.project-img {
  width: 40%;
  height: 250px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  width: 60%;
  text-align: left;
}

.project-info h3 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 1rem;
  color: #555;
}

body.dark-mode .project-info h3 {
  color: #fff;
}

body.dark-mode .project-info p {
  color: #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-card-horizontal {
    flex-direction: column;
  }

  .project-img,
  .project-info {
    width: 100%;
  }

  .project-img {
    height: 200px;
  }
}
